
.userHeader {
  background-color: #0b1121;
}
.userHeader nav ul div li {
  color: #fff;
  cursor: pointer;   
}
.userDropdownBox {
  background-color: rgba(11, 17, 33, 0.8)
}
.userDropdownBox li a {
  color: #fff;
}