.tituloRegistro {
  font-size: 40px;
  color: #468FAF;
  line-height: 45px;
  margin-bottom: 20px;
}

.labelSpan {
  font-size: 20px;
  color: #468FAF;
}

form div {
  margin-bottom: 15px;
}

input[type=submit] {
  font-size: 18px;
}